@import "scss/mixins.scss";

// Media Queries

/* ----------- iPhone 6 - X (Landscape) ----------- */
@include iphoneLandscape() {
  .roman,
  .rot13,
  .phone {
    padding: 17rem 0 4rem 0;
  }
  .palindrome {
    padding: 13rem 0 4rem 0;
  }
  .register {
    padding: 22rem 0 4rem 0;
  }
}

/* ----------- iPhone 5, 5S, 5C, 5SE and up (Portrait and Landscape) ----------- */
@include iphone5() {
  .roman,
  .rot13 {
    padding: 14rem 0 5rem 0;
  }
  .phone,
  .register {
    padding: 21rem 0 5rem 0;
  }
  .palindrome {
    padding: 5rem 0 4rem 0;
  }
}

@include iphone5Landscape() {
  .palindrome,
  .roman,
  .rot13,
  .phone {
    padding: 19rem 0 4rem 0;
  }
  .register {
    padding: 22rem 0 4rem 0;
  }
}
