@import "scss/mixins.scss";

// Media Queries

/* ----------- iPhone 6 - X Landscape ----------- */
@include iphoneLandscape() {
  .mq {
    padding: 13rem 0 4rem 0;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@include iphone5() {
  .mq {
    padding: 5rem 0 4rem 0;
  }
}

@include iphone5Landscape() {
  .mq {
    padding: 19rem 0 4rem 0;
  }
}
