@import "scss/mixins.scss";

// Media Queries

/* ----------- iPhone 6 - X (Landscape) ----------- */
@include iphoneLandscape() {
  .palindrome {
    padding: 13rem 0 4rem 0;
  }
  .roman {
    padding: 17rem 0 4rem 0;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE (Portrait and Landscape) ----------- */
@include iphone5() {
  .palindrome {
    padding: 5rem 0 4rem 0;
  }
  .roman {
    padding: 14rem 0 5rem 0;
  }
}

@include iphone5Landscape() {
  .palindrome,
  .roman {
    padding: 19rem 0 4rem 0;
  }
}
